* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
/* .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flexbox;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.navbar{
    /* background-color: yellow; */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 60%; */
    /* position: fixed; */
    margin-top: 0%;
}
#right{
    display: flex;
    align-items: center;
    gap: 15px;
}

#right h4 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;

}

img{
    width: 40px;
    height: 40px;
}

.page1{
    /* background-color: blue; */
    font-style: oblique;
    align-items: flex-start;
     /* padding: 70px 80px */
}

.buttons button{
    background-color: black;
    color: beige;
    border-radius: 20px;
}
.page1 p{
    text-align: right;
    /* justify-content: space-between; */
    height: 20;
    margin-left: auto;
    width: 30%;    
}

.box{
    background-color: #f4f4f4;
    width: 90%;
    margin: 50px;
    border-radius: 30px;
    padding: 25px;
    align-items: center;
    /* justify-content: center; */
}

#agents{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#bottombar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottombar button{
    /* background-color: aquamarine; */
    border-radius: 10px;
    padding: 10px 1%; 
}
#signup{
    background-color: black;
    color: #f4f4f4;
    padding: 7px;
    border-radius: 40px ;
}
#circle{
    width:300px;
    height:300px;
    background-color:green;
    border-radius:50%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px auto;
}

.company{
  width: 700px;
  height: 450px;
  border: 2px dashed #333; 
  background-color: #f9f9f9;
  margin: 40px auto;
}


.swiper{
    width:100%;
    height:100%;
}

.swiper-wrapper{
    width:100%;
    height:100%;
}

.swiper-slide{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

