*{
    margin: 0;
    padding: 0;
    color:  white;
    box-sizing: border-box;
    font-family: display, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    /* background-color: red; */
    display: flex;   
    align-items: center;
    width: 100%;
    padding:  2vw 10vw;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    gap: 2vw;
}
.nav-part2 h4{
    font-size: .76vw;
    text-transform: uppercase;
    font-weight: 600;
}
#nav-bottom{
    background-color: red;
    height: 0%;
    position:absolute;
    width: 79%;
    bottom: 0%;
    border-bottom: 2px solid#dadada;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding:  2vw 4vw;
    justify-content: space-between; */
}

#page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8vw;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: green;
}
#page1 p{
    text-align: center;
    font-family: 400;
    margin-top: 3vh;
}
#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: .5vw;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 50px;
}
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 3px;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}